body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.primeira{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(47, 168, 47);
}

.center{
    text-align: center;
}

ul{
    list-style-type: none;
    
}

h1{
    text-align: center;
    padding-top: 16px;
}

a{
    color: white;
    text-decoration: none;  
}

nav a:hover{
    color: green;
}

.tela{
    padding: 0px 50px;
}

nav{
    position: relative;
}

.menu{
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 16px;
    user-select: none;
}

.list{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 16px;
    background-color: #444;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    z-index: 10;
}

.list li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.list li a:hover{
    background-color: #333;
    border-radius: 4px;
}

.list.active{
    display: flex;
}

.list li{
    padding: 10px;
    text-align: center;
    list-style: none;
}